body {
  margin: 0;
}

.test-link {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  color: white;
  background-color: #007069;
  border-radius: 4px;
  padding: 4px 6px;
}

.properties {
  position: absolute;
  top: 10px;
  right: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
}

button {
  margin-right: 10px;
  margin-left: 10px;
}

button:disabled {
  background-color: #414141; /* Change the color to your desired "selected" color */
  color: #ffffff;
}

label {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5px;
}
